* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans CJK TC';
  box-sizing: border-box;
}
.container {
  width: 100%;
}
/* header */
.header-title {
  width: 50%;
  letter-spacing: 8px;
  text-align: start;
  margin: 0 auto;
}
.header-title > p {
  font-size: 1.5rem;
  font-weight: medium;
}
.title-text {
  font-size: 1rem;
  font-weight: 300;
  width: 50%;
}

/* avatar */
.avatar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.big-avatar {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.big-avatar > img {
  width: 100%;
  object-fit: fill;
  border-radius: 30px;
}
.small-avatar {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.sm-avatar > img {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  object-fit: fill;
}
/* detail part */
.row-detail {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 2px 10px rgba(94, 91, 91, 0.126);
}
.detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3rem 0;
}
.detail-ul {
  width: 40%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.detail-icon {
  color: #f5df4d;
}
.detail-title {
  font-size: 1rem;
}
.detail-text {
  font-weight: 300;
  width: 60%;
}
/* button & hover */
.detail-btn {
  display: flex;
  justify-content: center;
}
.button {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 200px;
  height: 35px;
  border: 1px solid #f5df4d;
  border-radius: 90px;
  text-align: center;
}

.button:hover {
  background-color: #f5df4d;
}
#card-btn::before {
  content: '';
  position: absolute;
  top: -5px;
  right: -10px;
  bottom: -5px;
  left: -10px;
}
#card-btn {
  background-color: transparent;
  width: 90%;
  height: 30px;
  color: #646464;
  border: none;
  font-size: 1rem;
  position: relative;
}
#card-btn:hover {
  color: #fff;
}
.btn-heart {
  margin-right: 5px;
  color: red;
}
.btn-heart {
  margin-right: 5px;
}

/* button-G */
.button-G {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 200px;
  height: 35px;
  border: 1px solid #939597;
  border-radius: 90px;
  text-align: center;
}

.button-G:hover {
  background-color: #939597;
}
#card-btn::before {
  content: '';
  position: absolute;
  top: -5px;
  right: -10px;
  bottom: -5px;
  left: -10px;
}
#card-btn {
  background-color: transparent;
  width: 90%;
  height: 30px;
  color: #646464;
  border: none;
  font-size: 1rem;
  position: relative;
}
#card-btn:hover {
  color: #fff;
}
/* comment */
.row-comment {
  width: 80%;
  margin: 10rem auto;
  padding: 3rem 0;
  box-shadow: 1px 2px 10px rgba(94, 91, 91, 0.126);
}
.comment {
  width: 80%;
  margin: 0 auto;
}
.com-header{
  width: 80%;
  margin: 0 auto;
}
.com-header-title {
  font-size: 1.5rem;
}
.com-box {
  display: flex;
  width: 100%;
  margin-top:2rem;
  padding: 2rem;
  box-shadow: 1px 2px 10px rgba(94, 91, 91, 0.301);
  justify-items: center;
}

.com-name {
  color: #f5df4d;
  font-size: 1rem;
  margin-bottom: -10px;
}
.com-msn > h6 {
  font-weight: 400;
  width: 13rem;
}
.com-avatar {
  width: 2rem;
  height: 2rem;
  border: 1px solid #4994be;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.com-avatar > span {
  color: #4994be;
  padding-left: auto;
}
.commBtn{
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
}
.comButton:hover {
  background-color: #f5df4d;
}
.comButton {
  width: 200px;
  height: 35px;
  border: 1px solid #f5df4d;
  border-radius: 90px;
  text-align: center;
}





/* RWD */
@media screen and (max-width: 992px) {
  .row-avatar {
    margin-bottom: 6rem;
  }
  .big-avatar {
    width: 100%;
  }
  .small-avatar {
    display: none;
  }
  .row-detail {
    width: 100%;
    margin: auto;
  }
  .button-G {
    display: none;
  }
  .detail-ul {
    width: 100%;
    display: flex;
  }
  .row-comment{
    width: 100%;
  }
  .comment{
    width: 100%;
  }
  .commBtn{
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }
}
